- if policy(post).change_category?
  = f.association :categories, label: "Select the Categories:", as: :check_boxes , collection: @categories.map{|c| [c.name, c.id]}, include_hidden: false
= f.input :title
= f.input :subtitle
- if post.attachment.present?
  .attachment
    p
      = image_tag(post.attachment.thumb.url, alt: 'Image', class: "img-responsive img-thumbnail")
      = f.check_box :remove_attachment
      | Remove image
      br
       .text-center
         small
           sample
             = "File_size #{number_to_human_size(post.attachment.size)}"
= f.input :attachment, as: :file, label: "File"
= f.input :attachment_cache, as: :hidden
= f.input :remote_attachment_url, label: "Enter URL to an image"
= f.input :content, input_html: { rows: '15' }
- if policy(post).tag?
  == render "tags/form", f: f

= f.button :submit, class: 'btn-primary'
