.row#admin
  .col-md-9
    .header
      h1
        | Admin Lounge
      p
        | Welcome to News City Admin Lounge. Please enjoy your stay.

  .col-md-3
    h2
      | Admin Links
    ul.nav.nav-stacked
      li
        = link_to "Users", admin_users_path, class: "users"

      li.dropdown.categories-admin
        a.dropdown-toggle.categories data-toggle="dropdown" href="#"
          | Categories admin
          span.caret
        ul.dropdown-menu role="menu"
          li class=(current_page?("/admin/categories") ? 'active' : '')
            = link_to "List all by order", admin_categories_path
          li.divider
          - Category.all.each do |category|
            li class=(current_page?("/admin/categories/#{category.id}") ? 'active' : '')
              = link_to category.name, admin_category_path(category)

      li
        = link_to "States", admin_states_path, class: "states"
