.tag
  - if policy(post).tag?
    = link_to "<span></span>".html_safe,
          remove_post_tag_path(post, tag),
          method: :delete,
          remote: true,
          class: "remove",
          title: "remove"
  = tag.name
