= title("Category")
h1.header
  | Categories

  ul.actions
    li
      = link_to "New Category", new_admin_category_path, class: "new"
- if @categories.present?
  ul#categories
    - @categories.each do |category|
      li.admin-category
        = link_to category.name, admin_category_path(category)
