= title("Category - #{@category.name}")
#category.text-center
  .header
    h1 Category <small>#{@category.name}</small>
    ul.actions
      = link_to "Edit Category", edit_admin_category_path(@category),
                                  class: "edit"
      = link_to "Delete Category", admin_category_path(@category),
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete this category?" },
                                        class: "delete"
  - if @category.posts
    #category.posts
      h2 Posts
      - @category.posts.each do |post|
        .row.col-md-12
          .caption
            h2 = link_to post.title, post
            p = link_to post.subtitle, post
            small = "by : #{post.author}"
          hr
