= title("Posts")
.header
  h1 Posts
  - unless @posts == nil
    - if policy(@posts).index?
      ul.actions
        li
          = link_to "Published", published_posts_path, class: "published"

        li
          = link_to "Draft", draft_posts_path, class: "draft"

        li
          = link_to "Recent", recent_posts_path, class: "recent"

        - admins_only do
            li
              = link_to "New Post", new_admin_post_path, class: "new"
        end
.header
  br
  ul.actions.search
    li
      = form_tag search_posts_path(@post), method: :get, class: "form-inline" do
        = label_tag "search", "Search", class: "sr-only"
        = text_field_tag "search", params[:search], class: "form-control"
        = submit_tag "Search", class: "btn btn-default"

- if @posts.present?
  #posts
    .container-fluid.text-center.bg-grey
      .row
        - @posts.each do |post|
          .col-sm-4
            = link_to image_tag(post.attachment.small_thumb.url, alt: 'Image', class: "img-responsive img-rounded center-block"), post if post.attachment?
            == render post.state if post.state && !post.published_at?
            h2 = link_to post.title, post
            p = link_to post.subtitle, post
