= title("Post", @post.title)

#post
  .header
    br
    ul.actions
      - if policy(@post).update?
        = link_to "Edit Post", edit_post_path(@post),
                               class: "edit"
      - admins_only do
        = link_to "Delete Post", admin_post_path(@post),
                                  method: :delete,
                                  data: { confirm: "Are you sure you want to delete this post?" },
                                  class: "delete"
      - if policy(@post).publish?
        - if @post.published_at?
          = link_to "Unpublish", unpublish_post_path(@post), method: :patch, data: { confirm: 'Are you sure you want to unpublish this post?' }, class: "unpublish"
        - else
          = link_to "Publish", publish_post_path(@post), method: :patch, data: { confirm: 'Are you sure you want to publish this post?' }, class: "publish"

  - if policy(@post).show?
    table#attributes.breadcrumb
      - if @post.categories.present?
        tr.categories
          th Categories:
          td
            ul
              == render @post.categories

      - if @post.author.present?
        tr.author
          th Author:
          td = " #{@post.author.email}"

      tr.created_at
        th Created:
        td
          = " #{time_ago_in_words(@post.created_at)} ago"

      - if @post.state.present?
        tr.estado
          th State:
          td
            == render @post.state

      - if @post.tags.any?
        tr#tags
          th Tags:
          td
            == render @post.tags, post: @post

      tr.published
        th Published:
        td
          = " #{@post.published}"

      tr#watchers
        th Watchers:
        td
          = toggle_watching_button(@post)
          br
          = @post.watchers.map(&:email).to_sentence

  .text-center
    h1
      = @post.title
    h1
      small.lead
        = @post.subtitle

    - if @post.attachment.present?
      .attachment
        p
          = image_tag(@post.attachment.thumb.url, alt: 'Image', class: "img-responsive img-thumbnail")
    p.text-justify
      = simple_format @post.content
hr

#reviews
  - if policy(@review).create?
    == render "reviews/form", post: @post, review: @review


    h3.header
      = t(:available_reviews, count: @post.reviews.count)

    - if @post.reviews.persisted.any?
      == render @post.reviews.persisted
    - else
      p There are no reviews for this post.
