@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "posts";
@import "admin/application";
@import "admin/users";
@import "responsive";

/* GLOBAL STYLES */
body {
  padding-top: 70px;
}

/* BUTTONS STYLES */
a.new,
a.edit,
a.delete,
a.publish,
a.unpublish,
a.published,
a.draft,
a.recent,
a.users,
a.archived,
a.unarchive,
a.categories,
a.admin,
a.nullify,
a.states {
  @extend .btn;
  margin-right: 3px;
  margin-top: 6px;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}
a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}
a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}
a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}
a.publish {
  @extend .btn-warning;

  &:before {
   @extend .fa-newspaper-o;
  }
}
a.unpublish {
  @extend .btn-info;

  &:before {
    @extend .fa-ban;
  }
}
a.published {
  @extend .btn-warning;

  &:before {
   @extend .fa-check-circle;
  }
}
a.draft {
  @extend .btn-info;

  &:before {
    @extend .fa-edit;
  }
}
a.recent {
  @extend .btn-primary;

  &:before {
    @extend .fa-calendar;
  }
}
a.archived {
  @extend .btn-default;

  &:before {
    @extend .fa-user-times;
  }
}
a.unarchive {
  @extend .btn-default;

  &:before {
    @extend .fa-user-plus;
  }
}
a.categories {
  // @extend .btn-default;

  &:before {
    @extend .fa-sitemap;
  }
}
a.users {
  // @extend .btn-default;

  &:before {
    @extend .fa-users;
  }
}
a.admin{
  // @extend .btn-default;

  &:before {
    @extend .fa-user-secret;
  }
}
a.nullify {
  @extend .btn-danger;

  &:before {
   @extend .fa-eraser;
  }
}
a.states {
  //@extend .btn-warning;

  &:before {
   @extend .fa-flag;
  }
}

/* FLASH STYLES */
.alert-notice {
  @extend .alert-success;
}
.alert-alert {
  @extend .alert-danger;
}

/* HEADER STYLES */
.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}
.header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}
/* LIST STYLES */
ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

/* FORM STYLES */
form {
  max-width: 500px;
}

/* TABLE ATTRIBUTES STYLES */
#attributes {
  @extend .table;
  @extend .table-condensed;
  width: 35%;

  th {
    width: 20%;
  }

  tr:first-child {
    td, th {
      border-top: 0px;
    }
  }
  td, th {
    line-height: 18px !important;
  }
}

#posts li, #states li {
  padding-bottom: 10px;
}
