#posts {
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 0px;
  }
  .row {
    margin: auto;
  }
  p {
     a:link, a:visited, a:hover, a:active {
       text-decoration: none;
       color: gray;
     }
  }
}

blockquote.review p {
  font-size: 14px;
}

.state {
  @extend .label;
  font-size: 12px;
  padding: 0.3em 0.6em;
}

.tag {
  @extend .state;
  @extend .label-info;
  margin-right: 10px;

  a {
    color: white;

    &.remove {
      font-family: "FontAwesome";
      @extend .fa-close;
      margin-right: 0.5em;
      text-decoration: none;
    }
  }
}

.watch, .unwatch {
  @extend .btn;
  @extend .btn-xs;
  font-weight: bold;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

.watch {
  @extend .btn-success;

  &:before {
    @extend .fa-eye;
  }
}

.unwatch {
  @extend .btn-danger;

  &:before {
    @extend .fa-eye-slash;
  }
}
