@media(max-width: 500px) {
  // p { color: red }
}
@media(min-width: $screen-sm-min) {
  .header {
    h1, h2, h3, h4, h5, h6 {
      max-width: 55%;
    }
  }
  ul.actions {
    position: absolute;
    bottom: -2px;
    right: 2px;
    max-width: 45%;
    text-align: right;
  }
}
@media(max-width: $screen-xs-max) {
  input#search {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}
@media(max-width: $screen-sm-max) {
  ul.actions .form-inline {
    padding-bottom: 5px;
  }
}
