= simple_form_for [:admin, user] do |f|
  = f.input :email
  = f.input :password
  = f.input :admin, label: "Is an admin?"

  h3.header
    | Roles

  table.roles
    - posts.each do |post|
      tr
        th
          = label_tag dom_id(post), post.title, class: "small"
        td
          = select_tag dom_id(post), options_for_select(roles, user.role_on(post)),
                                            name: "roles[#{post.id}]",
                                            include_blank: true

  = f.button :submit, class: "btn btn-primary"
