h1.header
  - if current_page?('/admin/users/archived')
    | Archived users
  - if current_page?('/admin/users')
    | Users
  ul.actions
    li
      = link_to "New User", new_admin_user_path, class: "new"
    - if current_page?('/admin/users')
      li
        = link_to "Archived users", archived_admin_users_path, class: "archived"
    - if current_page?('/admin/users/archived')
      li
      = link_to "Users", admin_users_path, class: "users"
ul
  - @users.each do |user|
    li
      = link_to user, [:admin, user]
