h3.header
  - if @user.archived_at?
    | Archived user: <small> #{@user} </small>
  - else
    | User: <small> #{@user} </small>
  ul.actions
    - if @user.archived_at?
      li
        = link_to "Unarchive User", [:unarchive, :admin, @user], method: :patch, data: { confirm: "Are you sure you want to unarchive the user #{@user}?" }, class: "unarchive"
    - else
      li
        = link_to "Edit User", [:edit, :admin, @user], class: "edit"
      li
        = link_to "Archive User",  [:archive, :admin, @user],
                                     method: :patch,
                                     data: { confirm: "Are you sure want to archive this user?" },
                                     class: "delete"
    li
      = link_to "Users", admin_users_path, class: "users"

h4.roles
  | Roles:
  - if @user.roles.any?
    ul.small
      - @user.roles.each do |role|
        li
          = "#{role.post.title}: #{role.role.titleize}"
    - if @user.archived_at?
      = link_to "Nullify Roles", [:nullify_roles, :admin, @user], method: :patch, data: { confirm: "Are you sure want to nullify the roles on postsof the #{@user}?" }, class: "nullify"
  - else
    p.small
      | This user has no roles.

h3.posts
  | Posts as author:
  - if @user.posts.exists?
    ul.small
      - @user.posts.each do |post|
        li
          = "#{post.title}"
    - if @user.archived_at?
      = link_to "Nullify Posts", [:nullify_posts, :admin, @user], method: :patch, data: { confirm: "Are you sure want to nullify the posts as author of the #{@user}?" }, class: "nullify"
  - else
    p.small
      | This user has no posts.
