h3 New Review

= simple_form_for [post, review] do |f|
  = f.input :text, label: "",
                   placeholder: "Add a review...",
                   input_html: { rows: 6, cols: 50 },
                   autofocus: true

  - if policy(post).change_state?
    = f.association :state
  - if policy(post).tag?
    == render "tags/form", f: f

  = f.submit class: "btn btn-primary"

</br>
