.header
  h1 States

  ul.actions
    li
      = link_to "New State", new_admin_state_path, class: "new"

ol#states
  - @states.each do |state|
    li
      == render "states/state", state: state
      - if state.default?
        | (Default)
      - else
        = link_to "Make Default", make_default_admin_state_path(state)
