- flash.each do |key, message|
  - if message.present?
      div class="alert alert-#{key}"
        button[type= "button" class= "close" data-dismiss= "alert" aria-label= "Close"]
          span[aria-hidden= "true"]
            | &times;
        = message
