nav[class="navbar navbar-default navbar-fixed-top" role="navigation"]
  .container
    .navbar-header
      = link_to "News City", root_path, class: "navbar-brand"
      button[type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse"]
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li class=(current_page?('/') ? 'active' : '')
            = link_to "Home", root_path
        li.dropdown
          a.dropdown-toggle data-toggle="dropdown" href="#"
            | Categories
            span.caret
          ul.dropdown-menu role="menu"
            li
            - Category.all.each do |category|
              li class=(current_page?("/categories/#{category.id}") ? 'active' : '')
                = link_to category.name, category_path(category)

        - admins_only do
          li class=(current_page?('/admin') ? 'active' : '')
            = link_to "Admin", admin_root_path, class: "admin"
          li.dropdown class=(current_page?('/admin/categories') ? 'active' : '')
            a.dropdown-toggle.categories data-toggle="dropdown" href="#"
              | Categories
              span.caret
            ul.dropdown-menu role="menu"
              li class=(current_page?("/admin/categories") ? 'active' : '')
                = link_to "List all by order", admin_categories_path
              li.divider
              - Category.all.each do |category|
                li class=(current_page?("/admin/categories/#{category.id}") ? 'active' : '')
                  = link_to category.name, admin_category_path(category)

      - if user_signed_in?
        .navbar-right
          p.navbar-text
            | Signed in as #{current_user.email}
          ul.nav.navbar-nav
            li
              = link_to "Sign out", destroy_user_session_path, method: :delete
      - else
        .navbar-right
          ul.nav.navbar-nav
            li class=(current_page?('/users/sign_up') ? 'active' : '')
                = link_to "Sign up", new_user_registration_path
            li class=(current_page?('/users/sign_in') ? 'active' : '')
                = link_to "Sign in", new_user_session_path
