doctype html
html
  head
    meta name="keywords" content="HTML, meta tag, tag reference"
    meta name="author" content="Romenig Lima Damasio"
    meta name="description" content="News of the city Donostia-San Sebastian, Gipuzkoa, Spain"
    meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"

    == render "layouts/title"

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    == render "layouts/navbar"
    .container
        == render "layouts/flashmessages"
        == yield
